<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="container">
   
  </div>
  <div class="h1">
    <h1>What u wanna do ?</h1>
  </div>
  <div class="h2">
    <a href="/profile">Post Something</a>
  </div>
  <div class="h3">
    <a href="/chat">Chat Someone</a>
  </div>
  <div class="h4">
    <h2>OR</h2>
  </div>
  <img class="img" src="/images/logo.png" alt="">
  <img class="icon" src="/images/icon.png" alt="">
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="/javascripts/script.js"></script>
</html>